/* STYLE SHEET FOR JUKEBOX */

.juke-background {
	background: #E6E6E6;
}

.juke-heightframe {
	position: relative;
	height: 500px;
}

/* GENERIC CARD STYLE */
.card {
	padding: 1.5rem;
	box-shadow: 0 1px 2px #aaa;
	background: #FFFFFF;
	//margin: 1rem 1rem 0;
	margin: 1rem 0;
	border-radius: 3px;
}

.welcome-modal {
	height: 85px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	line-height: 85px;
	color: #FFFFFF;
	background: #5C85FF;
}

.userlist {
	padding: 1rem;
	height: 395px;
}

.userlist-user {
	background: #E6E6E6;
	height: 67px;
	margin: 0 0 1rem 0;
}

.userlist-control-btn {
	background: #C13333;
	color: #FFFFFF;
	padding: 0px;
	height: 85px;
	text-align: center;
	line-height: 85px;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
.userlist-control-btn:hover,
.userlist-control-btn:focus,
.userlist-conrtol-btn:active {
	cursor: pointer;
	background: #B20000;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}


/* SONG BLOCK STYLES */
.song-block {
	padding: 0px;
	margin: 1rem 1rem 0;
	text-align: center;
	line-height: 50px;
	height: 50px;
	//background: white url(../images/song/threelines.png) 92% center no-repeat;
}

.song-remove-btn {
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
	float: right;
	padding: 0px;
	margin: 5px;
	height: 40px;
	width: 50px;
	text-align: center;
	line-height: 40px;
	color: #FFFFFF;
	background: #C13333;
}
.song-remove-btn:hover,
.song-remove-btn:focus,
.song-remove-btn:active {
	cursor: pointer;
	background: #B20000;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

/* UPLOAD BLOCK STYLES */
.upload-panel {
	height: 85px;
	background: linear-gradient(45deg, white 25%, #CCCCCC 25%, #CCCCCC 50%, white 50%, white 75%, #CCCCCC 75%, #CCCCCC);
	background-size: 50px 50px;
}

.upload-text {
	margin: 0px;
	padding: 0px;
	height: 100%;
	box-shadow: 0 0 0 #aaa; 
}

.upload-btn {
	padding: 0 15px 0 15px;
	margin: 5px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	color: #FFFFFF;
	background: #C13333;
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
}
.upload-btn:hover,
.upload-btn:focus,
.upload-btn:active {
	cursor: pointer;
	background: #B20000;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}

/* MUSIC CONTROLS STYLES */
.music-control-panel {
	width: 100%;
	height: 85px;
	position: absolute;
	bottom: 0;
	z-index: -1;
	padding: 50px 20px 0;
	//border: 2px solid #5C85FF;
	background: #5C85FF;
	//background: #CCCCCC;
}

.music-control-panel > span {
	display: inline-block;
	width: 25px;	
	color: white;
	text-shadow: 0 1px 2px #aaa;
}

/* FORM CONTROL OVERRIDES */
.form-group {
	margin: 1.5rem 0 0 0;
}

.form-control {
	//box-shadow: 0 1px 2px #aaa;
	border-radius: 3px;
	border: 2px solid #CCCCCC;
}

.form-control:focus {
	border-color: #5C85FF;
}

/* SUNKEN TEXT EFFECT STYLES */
.depth {
	position: relative;
}

.depth:before, .depth:after {
	content: attr(title);
	color: rgba(255,255,255,.1);
	position: absolute;
}

.depth:before { top: 1px; left: 1px }
.depth:after  { top: 2px; left: 2px }
