/* STYLE SHEET FOR JUKEBOX */

.juke-background {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	background-color: #E6E6E6;
	overflow: hidden;
}

/* GENERIC CARD STYLE */
.card {
	padding:1.5rem;
	box-shadow:0 1px 2px #aaa;
	background:white;
	margin:0 1rem 1rem;
	border-radius:3px;
}

.userlist {
}

.userlist-user {
	background: #E6E6E6;
	height: 75px;
}

.userlist-control-btn {
	height: 75px;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}
.userlist-control-btn:hover,
.userlist-control-btn:focus,
.userlist-conrtol-btn:active {
	background: #76D7C4;
	-webkit-transition: 0.25s;
	transition: 0.25s;
}


/* SONG BLOCK STYLES */
.juke-song-block {
	background: white url(../images/song/threelines.png) 92% center no-repeat;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	-o-background-size: contain;
	background-size: contain;
}

.juke-song-remove-btn {
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
	float: right;
	padding: 0;
	height: 100%;
	width: 50px;
	background: #E10000;
}

/* UPLOAD BLOCK STYLES */
.juke-upload-panel {
	border: none;
	font-weight: normal;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transition: 0.25s linear;
	transition: 0.25s linear;
	white-space: normal;
	padding: 10px 19px;
	font-size: 17px;
	line-height: 1.471;
	border-radius: 6px;
	color: #ffffff;
	height: 75px;
	background-image: url(../images/uploader/upload_stripes_small.jpg);
	background-color: #f1c40f;
}

